@model List<FarmaciaBD.Models.Loja>
@{ Layout = "_Layout";
    
}
<br /> <br />
<h2 style="text-align: center">Atualizando Loja</h2>

@foreach (var loja in Model)
{
    <p>Loja número: @loja.Numero</p>
    <form method="post">
        <input type="hidden" name="numero" value="@loja.Numero" />
        <!--Quando se tira o action vai para a propria página -->
        <div class="mb-3">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" name="cidade" class="form-control" value="@loja.Cidade" id="cidade">
            <a style="color:red">
                @Html.ValidationMessage("cidade")
            </a>
        </div>
        <div class="mb-3">
            <label for="endereco" class="form-label">Endereco</label>
            <input type="text" name="endereco" class="form-control" value="@loja.Endereco" id="endereco">
            <a style="color:red">
                @Html.ValidationMessage("endereco")
            </a>
        </div>
        <button type="submit" class="btn btn-secondary">Salvar</button>
    </form>
}